@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed; 
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}
.logo{
    text-decoration: none;
    color:#3a6cf4 ;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px; 
}
.navigation a:hover{
    color: #601cfc;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(image/landing.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #a2bad7;
    font-size: 3em;
    font-weight: 600;

}
.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s;
}
.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px  #000016;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #bbc8ed;
    font-size: 4cap;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.video {
    position: relative;
  }
  .video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 20%;
    background-color: rgb(0 0 0 / 40%);
  }
  .video video {
    width: 100%;
  }
  .video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
  }
  .video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .video .text p {
    margin-bottom: 30px;
  }
  .video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
  }

  .about {
    color: #3a6cf4;
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
  }

  .about title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size:  3.2em;
    font-weight:1000;
    margin-bottom: 30px;
}
.about p {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 30px;
}
  .about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
  }
  @media (max-width: 767px) {
    .about img {
      bottom: -60px;
      margin-top: -60px;
    }
  }

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}

.pricing {
    color: #3a6cf4;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    font-size: 2.2em;
  }
  .pricing p {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 30px;
}
  .pricing .plans {
    color: #000000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  .pricing .plans .plan {
    background-color: #93c8feea;
    text-align: center;
  }
  .pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  .pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
  }
  .pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
  }
  .pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
  }
  .pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
  }
  .pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
  }
  .pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .pricing .plans .plan .foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
  }
  .pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
  }
  .pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
  }

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #a8bae8;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
